<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a href="https://www.voltes.com" target="_blank" class="d-flex align-items-center ms-3 me-4 hover-line">
            <img th:src="@{/images/voltes.png}" alt="Logo" style="height: 40px; transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
        </a>
        <a class="navbar-brand me-4 hover-line" th:href="@{/}">GestioEPIs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hover-line" href="#" id="inventoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Inventari
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="inventoryDropdown">
                        <li><a class="dropdown-item" th:href="@{/inventory}">Tot l'Inventari</a></li>
                        <li><a class="dropdown-item" th:href="@{/inventory/lleida}">Lleida</a></li>
                        <li><a class="dropdown-item" th:href="@{/inventory/barcelona}">Barcelona</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link hover-line" th:href="@{/purchases}">Compres</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link hover-line" th:href="@{/purchase-orders}">Comandes</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link hover-line" th:href="@{/handovers}">Entregues</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>